{% extends "base.html"%}
{% load i18n %}
{% load account socialaccount %}
{% block content %}
<!-- Login Form -->
<div class="todo-card mx-auto">
  <h1 class ="text-center mb-4">Login</h1>
  <p class ="text-center"> if you dont have an account,
    <a href ="{{ signup_url }}">Sign Up</a>
    first.
  </p>
  <form class="login mb-4" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p}}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value}}">
    {% endif %}
    <!-- Login Button -->
    <button class="btn btn-dark w-100" type="submit">Login</button>
  </form>
</div>
{% endblock %}